

# our ignore files
v8/third_party
v8/android
v8/build
v8/base
v8/build_overrides
v8/buildtools
v8/testing
v8/tools
v8/.cache
core

v8/out
v8/git_bk
v8/.git
v8/test/test262/local-tests

depot_tools/git_bk
.cache/
.cipd/

AFLplusplus/git_bk


sandbox_fuzzer/fuzz_multi_panes
sandbox_fuzzer/fuzz_test1
sandbox_fuzzer/fuzz_test2
sandbox_fuzzer/fuzz_test3
sandbox_fuzzer/fuzz_in
sandbox_fuzzer/cov_report

AFLplusplus/unicorn_mode/samples/c/core
AFLplusplus/unicorn_mode/samples/c/UnicornContext*
sandbox_fuzzer/UnicornContext*

AFLplusplus/unicorn_mode/samples/c/fuzz_out*
AFLplusplus/unicorn_mode/samples/c/-g
v8/'+'